<div class="basediv container-fulid">
    <h2>あなたのWカップの出場国は以下の通りでよろしいですか？</h2>

    <div class="row">
        <% @thirtysecond.each_slice(8) do |col_countries| %>
        <%# each_slice(8)で@thirtysecondを8個ずつの国4グループに割る %>
            <div class="thirtysecond_box col-sm-3 d-none d-sm-block">
                <% col_countries.each do |country| %>
                    <div class="thirtysecond">
                        <%= image_tag(image_url("flag/#{country.name}.png"), :size => '40x40') %>
                        <div class="radio_info">
                            <p><%= country.japanese %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <%# レスポンシブ対応 %>
    <div class="row">
        <% @thirtysecond.each_slice(16) do |col_countries| %>
            <div class="thirtysecond_box col-6 d-sm-none">
                <% col_countries.each do |country| %>
                    <div class="thirtysecond">
                        <%= image_tag(image_url("flag/#{country.name}.png"), :size => '40x40') %>
                        <div class="radio_info">
                            <p><%= country.japanese %></p>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="back_to_contain row">
        
        <% Continent.all.each do |contain| %>
            <%= form_tag("/countries/#{contain.name}", :method => "post", :class => "col-4", :name => "#{contain.name}[]") do %>
                    <% @europe_checks.each do |europe| %>
                        <%= check_box_tag :radio_country_europe, europe.id, true, :id => "check#{europe.id}", :class => "notdisp", :name => "europe[]" %>
                    <% end %>
                    <% @africa_checks.each do |africa| %>
                        <%= check_box_tag :radio_country_africa, africa.id, true, :id => "check#{africa.id}", :class => "notdisp", :name => "africa[]" %>
                    <% end %>
                    <% @asia_checks.each do |asia| %>
                        <%= check_box_tag :radio_country_asia, asia.id, true, :id => "check#{asia.id}", :class => "notdisp", :name => "asia[]" %>
                    <% end %>
                    <% @southamerica_checks.each do |southamerica| %>
                        <%= check_box_tag :radio_country_southamerica, southamerica.id, true, :id => "check#{southamerica.id}", :class => "notdisp", :name => "southamerica[]" %>
                    <% end %>
                    <% @concacaf_checks.each do |concacaf| %>
                        <%= check_box_tag :radio_country_concacaf, concacaf.id, true, :id => "check#{concacaf.id}", :class => "notdisp", :name => "concacaf[]" %>
                    <% end %>
                    <% if params[:oceania] != nil %>
                        <% @oceania_checks.each do |oceania| %>
                            <%= check_box_tag :radio_country_oceania, oceania.id, true, :id => "check#{oceania.id}", :class => "notdisp", :name => "oceania[]" %>
                        <% end %>
                    <% end %>
                    <button type="submit" class="typesubmit"><%= contain.japanese + "の出場国を選び直す" %></button>
                </form>
            <% end %>
        <% end %>
    </div>
</div>